<div layout="column">
  <md-toolbar id='navbar' flex layout="row">
    <div class="md-toolbar-tools">
      <span flex="25" layout="row" layout-align="start center">
        <img style="height: 48px" src="assets/dark.png" />
      </span>
      <span layout="row" flex>
        Search stuff here
      </span>
      <span>
    </span>
    </div>
  </md-toolbar>
</div>