<md-toolbar layout="row" flex class="md-table-toolbar md-default" style="margin-bottom: 0; width: auto">
  <div class="md-toolbar-tools">
    <h2>Thera Connections {{thera.theraOrigin != '' ? ' from ' + thera.theraOrigin + ' ' : ''}}
      <span ng-show="thera.commandTime > 0" am-time-ago="thera.commandTime"></span>
    </h2>
    <div flex></div>
  </div>
</md-toolbar>
<md-table-container style="margin-bottom: 0; margin-top: 0;">
  <table md-table md-row-select ng-model="thera.selected">
    <thead md-head md-order="thera.query.order" md-on-reorder="thera.onReorder">
    <tr md-row>
      <th md-column><span>Region</span></th>
      <th md-column><span>System</span></th>
      <th md-column md-order-by="jumps"><span>Jumps</span></th>
      <th md-column><span>Type</span></th>
      <th md-column><span>Out Sig</span></th>
      <th md-column><span>In Sig</span></th>
      <th md-column md-numeric><span>Estimated Life</span></th>
      <th md-column md-numeric><span>Updated</span></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="command" md-select-id="{{command.id}}" md-auto-select ng-repeat="command in thera.commandsToShow">
      <td md-cell>{{command.region}}</td>
      <td md-cell>{{command.system}}</td>
      <td md-cell>{{command.jumps}}</td>
      <td md-cell>{{command.type}}</td>
      <td md-cell>{{command.outSig}}</td>
      <td md-cell>{{command.inSig}}</td>
      <td md-cell>{{command.estimatedLife | amDifference : null : 'hours' }} hours</td>
      <td md-cell am-time-ago="command.updated"></td>
    </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination md-limit="thera.query.limit" md-page="thera.query.page" md-total="{{thera.commands.length}}" md-on-paginate="thera.onPaginate" md-page-select style="margin-top: 0;"></md-table-pagination>