<div flex layout="column" layout-margin ng-controller="chatTrackerCtrl as ctc" ng-cloak>
  Chat Tracker!
  Please Select text file of which contents are to be read:
  <div layout="row">
    <md-button class="md-primary md-raised" ngf-select="ctc.setFile($file)">Upload on file select</md-button>
    <div flex></div>
  </div>
</div>
