<div flex layout="row" ng-controller="dashboardCtrl as dc">
  <md-card flex="40" layout="column" style="margin-right: 0;">
    <div layout id="system-info" layout-align="start center">
      <h3 class="md-headline">{{dc.systemName}} - {{dc.constellationName}} - {{dc.regionName}}</h3>
    </div>
    <div flex="60" layout layout-margin>
      Map goes here
    </div>
    <div flex="40" layout layout-margin>
      System stuff goes here
    </div>
  </md-card>
  <md-card layout="column" flex>
    <md-tabs flex md-border-bottom>
      <md-tab label="Systems">
        <div layout flex>
          <div layout="column" class="selector-column">
            <md-list>
              <md-list-item ng-repeat="system in dc.systems">
                <div class="md-list-item-text" layout="column">
                  {{system.name}}
                </div>
              </md-list-item>
            </md-list>
          </div>
          <div flex layout="column" layout-padding>
            Main Stuff
          </div>
        </div>
      </md-tab>
      <md-tab label="Stations">

      </md-tab>
      <md-tab label="Celestials" flex>

      </md-tab>
    </md-tabs>
  </md-card>
</div>