<div flex layout="column" ng-controller="dashboardCtrl as dc">
  <md-card layout="column" style="margin-right: 0;">
    <md-toolbar layout="row" flex class="md-table-toolbar md-default" style="margin-bottom: 0; width: auto">
      <div class="md-toolbar-tools">
        <h2 class="md-headline">{{dc.systemData.solarSystemName}} - {{dc.systemData.constellation.constellationName}} - {{dc.systemData.region.regionName}}</h2>
        <h2 class="md-headline">{{dc.user.solarSystem.name}}</h2>
        <div flex></div>
      </div>
    </md-toolbar>
    <md-tabs md-border-bottom md-dynamic-height md-selected="dc.selectedTab"t>
      <md-tab label="Overview">
        <div flex layout="row">
          <div flex="60" layout layout-margin>
            Map goes here
          </div>
          <div flex="40" layout layout-margin>
            <c3chart bindto-id="chartSystemIndices" chart-data="dc.indexData" chart-columns="dc.datacolumns" chart-x="dc.datax"  callback-function="dc.handleCallback" padding-right="60">
              <chart-axis>
                <chart-axis-x axis-id="index" axis-type="category" axis-label="" axis-position="outer-center">
                  <chart-axis-x-tick tick-format-function="dc.noTick"></chart-axis-x-tick>
                </chart-axis-x>
                <chart-axis-y axis-id="y" axis-min="0" axis-max="1" padding-bottom="0" padding-top="0">
                  <chart-axis-y-tick tick-format-function="dc.indexToPercent"></chart-axis-y-tick>
                </chart-axis-y>
              </chart-axis>
              <chart-axes y="manufacturing,researchMaterial,researchTime,invention,copying"/>
              <!--<chart-legend legend-position="inset" legend-inset="top-left" legend-inset-x="20"/>-->
            </c3chart>
          </div>
        </div>
      </md-tab>
      <md-tab label="Station(s)" flex>

        <md-table-container style="margin-bottom: 0; margin-top: 0;">
          <table md-table md-row-select ng-model="dc.stationData">
            <thead md-head>
            <tr md-row >
              <td ng-repeat="station in dc.stationData">
                {{station.stationName}}
                <div ng-repeat="service in station.services">{{service}}</div>
              </td>
            </tr>
            </thead>
            <tbody md-body>

            </tbody>
          </table>
        </md-table-container>
      </md-tab>
      <md-tab label="Planets" flex>

        <h2>Planet Details</h2>
        <md-table-container style="margin-bottom: 0; margin-top: 0;">
          <table md-table ng-model="dc.planetData">
            <thead md-head>
            <tr md-row>
              <th md-column><span>Name</span></th>
              <th md-column><span>Type</span></th>
              <th md-column><span>Moons</span></th>
              <th md-column><span>Material 1</span></th>
              <th md-column><span>Material 2</span></th>
              <th md-column><span>Material 3</span></th>
              <th md-column><span>Material 4</span></th>
              <th md-column><span>Material 5</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="planet in dc.planetData">
              <td md-cell>{{planet.itemName}}</td>
              <td md-cell>{{planet.type}}</td>
              <td md-cell>{{planet.moonIDs.length}}</td>
              <td ng-repeat="material in planet.materials">{{material.materialType}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

      </md-tab>
      <md-tab label="Moons">

        <h2>Moon Details</h2>
        <md-table-container style="margin-bottom: 0; margin-top: 0;">
          <table md-table ng-model="dc.moonData">
            <thead md-head>
            <tr md-row>
              <th md-column><span>Name</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="planet in dc.moonData">
              <td md-cell>{{planet.itemName}}</td>
            </tr>
            </tbody>
          </table>
        </md-table-container>

      </md-tab>
    </md-tabs>
  </md-card>
</div>