<!-- sidenav -->
<div layout ui-view="sidenav"></div>

<!-- toolbar and primary application view -->
<div layout="column" flex>
  <div ui-view="toolbar"></div>
  <div ui-view layout flex></div>
</div>
