<div layout="column">
  <md-toolbar id='navbar' flex layout="row">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-hide="main.left" ng-click="main.openSidenav('left')" aria-label="Menu">
        <md-icon md-menu-origin md-svg-icon="navigation:menu"></md-icon>
      </md-button>
      <span flex="25" layout="row" layout-align="start center">
        Eve-Assistant Tool
      </span>
      <span layout="row" flex></span>
      <span layout="row"><img ng-src="{{main.user.image}}" style="height: 48px" ng-show="main.user.name"></span>
      <span layout="row"><md-button ng-hide="main.user.name" ng-click="main.signin()" style="height: 48px;"><%= image_tag 'EVE_SSO_Login_Buttons_Large_White.png', style: 'height: 48px;' %></md-button></span>
      <span layout="row"><md-button ng-show="main.user.name" ng-click="main.signout()">Sign Out</md-button></span>
      <span>
    </span>
    </div>
  </md-toolbar>
</div>
