<div layout="column">
  <md-toolbar id='navbar' flex layout="row">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-hide="main.left" ng-click="main.openSidenav('left')" aria-label="Menu">
        <md-icon md-menu-origin md-svg-icon="navigation:menu"></md-icon>
      </md-button>
      <span flex="25" layout="row" layout-align="start center">
        Eve Assistant
      </span>
      <span layout="row" flex>
      </span>
      <span>
    </span>
    </div>
  </md-toolbar>
</div>