<md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-list>
    <md-list-item>
      <div flex layout layout-align="center center">
        <%= image_tag 'dark.png', style: 'height: 48px;'%>
      </div>
      <md-button class="md-icon-button" ng-click="main.closeSidenav('left')" aria-label="Menu">
        <md-icon md-menu-origin md-svg-icon="navigation:menu"></md-icon>
      </md-button>
    </md-list-item>
    <md-list-item ui-sref="root.dashboard" ng-click="main.closeSidenav('left')">
      <p> Dashboard </p>
    </md-list-item>
    <md-list-item ui-sref="root.chat_tracker" ng-click="main.closeSidenav('left')">
      <p> Chat Tracker </p>
    </md-list-item>
  </md-list>
</md-sidenav>