<!-- sidenav -->
<div layout ui-view="sidenav"></div>

<!-- toolbar and primary application view -->
<div layout="column" flex>
  <div ui-view="toolbar"></div>
  <div ui-view="dashboard" ng-show="main.$state.includes('root.dashboard')" layout flex></div>
  <div ui-view="log_parser" ng-show="main.$state.includes('root.log_parser')" layout flex></div>
</div>
