/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require crest.scss
 *= require c3
 *= require angular-material-data-table
 */

[layout-fill] {
  position: absolute !important;
}

*:focus{
  outline: none !important;
}

* {
  flex-shrink: 0 !important;
}

.width {
  width: 100% !important;
}

.layout-column > .flex-5  { flex: 5; }
.layout-column > .flex-10 { flex: 10; }
.layout-column > .flex-15 { flex: 15; }
.layout-column > .flex-20 { flex: 20; }
.layout-column > .flex-25 { flex: 25; }
.layout-column > .flex-30 { flex: 30; }
.layout-column > .flex-35 { flex: 35; }
.layout-column > .flex-40 { flex: 40; }
.layout-column > .flex-45 { flex: 45; }
.layout-column > .flex-50 { flex: 50; }
.layout-column > .flex-55 { flex: 55; }
.layout-column > .flex-60 { flex: 60; }
.layout-column > .flex-65 { flex: 65; }
.layout-column > .flex-70 { flex: 70; }
.layout-column > .flex-75 { flex: 75; }
.layout-column > .flex-80 { flex: 80; }
.layout-column > .flex-85 { flex: 85; }
.layout-column > .flex-90 { flex: 90; }
.layout-column > .flex-95 { flex: 95; }
