//colors
$white: #ffffff;

md-sidenav {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
  &.md-locked-open {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
  }
  &.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
  }
}

md-list-item a {
  margin: 0 !important;
}

md-content {
  background-color: #CFD8DC !important;
}

.buy-order {
  background-color: #BDECB6;
}

.sell-order {
  background-color: #FFC48C;
}

#celestials-column {
  border-right: 1px solid rgba(0, 0, 0, 0.117647);
}

#system-info {
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
}

md-tab-content div {
  height: 100% !important;
}