//colors
$white: #ffffff;

md-sidenav {
  min-width: 200px !important;
  width: 200px !important;
  max-width: 200px !important;
  &.md-locked-open {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
  }
  &.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
  }
}

md-list-item a {
  margin: 0 !important;
}

* { color: rgb(200,200,200) !important; }

md-content {
  // background-color: #CFD8DC !important;
}

.buy-order {
  // #bdecb6
  background-color: rgba(189, 236, 182, 0.01);
}

.sell-order {
  // #ffc48c
  background-color: rgba(255, 196, 140, 0.01);
}

md-select-menu md-content {
  // background-color: $white !important;
}

md-toolbar {
  background-color: rgb(78,115,125) !important;
}

tr.md-selected td{
  color: rgb(50,50,50) !important;
  background-color: rgb(200,200,200);
  span {
    color: rgb(50,50,50) !important;
    background-color: rgb(200,200,200);
  }
}

tr:hover td {
  background-color: rgb(200,200,200);
  color: rgb(50,50,50) !important;
  span {
    color: rgb(50,50,50) !important;
    background-color: rgb(200,200,200);
  }
}

table.md-table.md-row-select tbody.md-body > tr.md-row {
  transition: none !important;
}

tspan {
  fill: rgb(200,200,200) !important;
}

.c3-axis text {
  fill: rgb(200,200,200) !important;
}

path.domain {
  stroke: rgb(200,200,200) !important;
}

g.tick line {
  stroke: rgb(200,200,200) !important;
}

.c3-legend-background {
  opacity: 0 !important;
}

.c3-legend-item text {
  fill: rgb(200,200,200) !important;
}